@use "icons";
.btn{
    width: 59px;
    height: 59px;
    border-radius: 50%;
    display: inline-block;
    border: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .47);

    &.--large{
        width: 103px;
        height: 103px;
    }

    &.--small{
        width: 41px;
        height: 41px;
    }
}
.nav{
    display: flex;
    justify-content: center;
    
}