@use "icons";
.btn{
    width: 59px;
    height: 59px;
    border-radius: 50%;
    display: inline-block;
    border: none;
    background: rgba(255,255,255, 1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .47);
    padding: 10px;
    box-sizing: border-box;
    position: relative;

    &.--large{
        width: 103px;
        height: 103px;
    }

    &.--medium{
        top: 15px;
    }

    &.--small{
        width: 41px;
        height: 41px;
        top: -15px;
    }

    &.--headerNav{
        box-shadow: none;
        background: transparent;
    }
}