.icon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &.--back{
        background-image: url("icons_images/reverse.svg");
    }

    &.--del {
        background-image: url("icons_images/del.svg");
    }

    
    &.--heart {
        background-image: url("icons_images/love.svg");
    }
    
    &.--trophy {
        background-image: url("icons_images/trophy.svg");
    }
    
    &.--star {
        background-image: url("icons_images/star.svg");
    }
    &.--profile{
        background-image: url("https://scontent-uc-d2c-7.intastellar.com/a/s/ul/p/avtr46-img/profile_standard.jpg");
    }

    &.--message{
        background-image: url("https://cdn.intstlr-clnts.net/nordic-taggers/icons/chat-icon.png");
        filter: brightness(0.8);
    }

    &.--camera{
        background-image: url("icons_images/camera.svg");
    }

    &.--gallery{
        background-image: url("icons_images/gallery.svg");
    }

    &.--edit{
        background-image: url("icons_images/pen.svg");
    }
}