* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon.--back {
  background-image: url("icons_images/reverse.svg");
}
.icon.--del {
  background-image: url("icons_images/del.svg");
}
.icon.--heart {
  background-image: url("icons_images/love.svg");
}
.icon.--trophy {
  background-image: url("icons_images/trophy.svg");
}
.icon.--star {
  background-image: url("icons_images/star.svg");
}

.btn {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  display: inline-block;
  border: none;
  background: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.47);
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.btn.--large {
  width: 103px;
  height: 103px;
}
.btn.--medium {
  top: 15px;
}
.btn.--small {
  width: 41px;
  height: 41px;
  top: -15px;
}
.btn.--headerNav {
  box-shadow: none;
  background: transparent;
}